<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net40" />
  <package id="Microsoft.SqlServer.SqlEnum.dll" version="1.0.1" targetFramework="net40" />
  <package id="NUnit" version="3.0.0" targetFramework="net4" />
  <package id="NUnit.Console" version="3.0.0" targetFramework="net4" />
  <package id="NUnit.Runners" version="3.0.0" targetFramework="net4" />
  <package id="Unofficial.Microsoft.SQLServer.SMO" version="11.0.3000.0" targetFramework="net40" />
</packages>